*{
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#container{
    margin: 45px;
    padding: 65px;
    background-color: rgb(135, 192, 152);
    border-radius: 9px;
}