* {
  box-sizing: border-box;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  padding: 175px;
}

p {
  font-size: 55px;
  margin-bottom: 15px;
}

#startStop {
  width: 275px;
  margin: 25px 0 7px 0;
  padding: 27px 13px;
  font-size: 21px;
  background-color: blueviolet;
  border: none;
  border-radius: 35px;
  color: white;
}

#reset {
  width: 275px;
  margin: 0 0 5px 0;
  padding: 9px;
  font-size: 21px;
  background-color: rgb(69, 69, 69);
  border: none;
  border-radius: 35px;
  color: white;
  visibility: hidden;
}


/* 
#lap {
  width: 275px;
  margin: 0 0 25px 0;
  padding: 9px;
  font-size: 21px;
  background-color: rgb(69, 69, 69);
  border: none;
  border-radius: 35px;
  color: white;
  visibility: hidden;
}

.lapContainer {
  display: flex;
  background-color: rgb(160, 105, 211);
  margin: auto;
  width: 50vw;
  height: auto;
}

.lapContent {
  width: 65px;
  height: 65px;
  padding: 9px;
  margin: 7px;
  font-size: 12px;
  border: 0.2px solid white;
} */
