*{
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

body{
    background-color: black;
    color: white;
    padding: 225px;
}

p{
    font-size: 45px;
}
.button{
    width:215px;
    margin: 25px 0 25px 0;
    padding: 9px;
    font-size: 21px;
    background-color:blueviolet;
    border: none;
    border-radius: 29px;
    color: white;
}