*{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#container{
    margin:45px;
    padding:75px;
    background-color: #edecec;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

input{
    margin: 11px;
    width: 195px;
    height: 21px;
    border: none;
    font-size: 14px;
}

button{
    width:125px;
    height: 25px;
    margin-bottom: 13px;
    background-color: #fff;
    border: none;
    font-size: 14px;
}

#error{
    color: red;
    font-size: 15px;
}