*{
    margin: 0;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    padding-top: 125px;
}

#container {
  margin: 45px 175px;
  padding: 45px;
  box-shadow: rgb(0, 0, 0.5) 1px 0.1px 21px;
}

h1{
    color: blueviolet;
    margin-bottom: 15px;
}

input{
    margin-bottom: 15px;
}

h3{
    margin-bottom: 15px;
}