*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

body{
    padding-top: 95px;
}

button{
    margin-top: 15px;
    width: 175px;
    padding: 3px;
}