* {
  box-sizing: border-box;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

body{
  padding: 121px 45px 35px 25px;
}

img{
    width:45%;
    margin-right: 45px;
    float: left;
}


.deadline-format{
    margin: 35px 0 0 55px;
    background-color: hsl(209, 61%, 16%);
    font-size: 19px;
    padding: 11px;
    width: 85px;
    height: 75px;
    float: inline-start;
    color:white;
  }