*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(94, 169, 101);
    padding-top: 175px;
}

h1{
  margin-bottom: 35px;
  font-size: 45px;
}

button{
    font-size: 19px;
    padding: 7px;
    width:175px;
    margin-bottom: 13px;
}

p{
    font-size: 23px;
    font-weight: bolder;
}