* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#container {
  margin: 175px 45px;
  padding: 45px;
  background-color: rgb(142, 226, 173);
  border-radius: 7px;
}

input {
  font-size: 15px;
  margin: 11px 0;
  width: 225px;
  padding: 3px;
}

button {
  font-size: 15px;
  width: 135px;
  border: none;
  font-weight: bolder;
  margin-bottom: 11px;
}

h6 {
  margin-bottom: 11px;
}
