*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    margin: 195px 45px;
    padding: 45px;
    background-color: rgb(142, 226, 173);
    border-radius: 7px;
}