* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

#search {
  margin: 75px;
  padding: 75px;
  align-content: center;
  background-color: rgb(247, 247, 245);
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#result{
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
  margin: 15px 0 15px 0;
  width: 475px;
  font-size: 17px;
  font-weight: 200;
  border: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

input:hover{
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  width: 125px;
  font-size: 17px;
  background-color: rgb(132, 213, 132);
  border: none;
  padding: 3px;
  border-radius: 7px;
}
