*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#main{
    margin: 95px;
    padding: 45px;
    box-shadow: rgb(0,0,0.5) 1px 2px 9px;
}