* {
  margin: 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  padding-top: 145px;
}

#container {
  margin: 45px 175px;
  padding: 45px;
  box-shadow: rgb(0, 0, 0.5) 1px 0.1px 21px;
}

textarea{
    margin: 15px;
    padding: 7px;
    text-align: start;
}
