* {
  margin: 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  padding-top: 147px;
}

#text-container {
  margin: 45px 175px;
  padding: 47px;
  box-shadow: rgb(0, 0, 0.5) 1px 0.1px 21px;
}

textarea{
    margin: 17px;
    padding: 9px;
    text-align: start;
}
