* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#container {
  margin: 75px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label{
    font-weight:400;
}

input{
    margin: 15px 3px 11px 0;
    width:175px;
    font-size: 15px;
    height: 25px;
    border-radius: 7px;
    border: 1px solid black;
}

button{
    width: 125px;
    height: 25px;
    background: none;
    border: none;
    font-size: 15px;
    background-color: rgb(154, 154, 247);
    border-radius: 7px;
}

p{
    margin-top: 15px;
    font-size: 17px;
    color: red;
}